body {background-image:url('terminal.png'); background-size:fill; background-repeat:no-repeat; background-position:center top; background-color:#1E1E1E; color:#72FF13; border:ridge 10px #404040; border-radius:20px; font-family:Courier New; text-align:center; animation: fadeInAnimation ease 3s; animation-iteration-count: 1; animation-fill-mode: forwards;}
@keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
th, td {border:6px ridge #bf00ff; border-radius:12px; text-align:center; margin-left:auto; margin-right:auto; background-color:#1E1E1E;} 
h1 {color:#fff600; text-shadow: 3px 3px #ff63c7; font-size:300%; font-family:Courier New; text-align:center; border:5px #bf00ff; border-radius:12px; border-top-style:dashed; border-bottom-style:dashed; border-left-style:dashed; border-right-style:dashed; display:inline-block; padding:3px; outline-style:ridge; outline-width:5px; outline-color:#bf00ff; outline-offset:3px;} 
.link {background-color:#bf00ff; color:#72FF13; padding: 6px 6px; text-align: center; text-decoration: none; display:inline-block;} 
a:hover, a:active {background-color:#007FFF; cursor:cell;}   
.button {background-color:#bf00ff; padding:6px 6px; color:#72FF13; text-decoration:none; text-align:center; display:inline-block;}
div {text-align:center;}
img {color:red;}
a {color:#72FF13;}
nav {color:#72FF13; font-family:Courier New; text-align:center; border:5px #bf00ff; border-radius:12px; border-style:ridge; display:inline-block; padding:10px;}
.hr1 {color:pink; padding:2px; border:ridge 0px #ffffff; border-radius:15px; background-image:url('rainbow.gif');}
